page-memorial {
  ion-avatar {
    border: 3px solid #2f2f2f;
    img {
      border-radius: 0px !important;
    }
  }
  ion-card {
    border-top: 3px solid #2f2f2f;
  }
  ion-fab {
    button {
      background-color: #2f2f2f !important;
    }
  }
}