<ion-header>

  <ion-navbar>
    <ion-title>{{ 'MENUMEMORIAL' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card *ngFor="let item of currentItems" (click)="openMemorialItem(item)">
    <ion-item>
      <ion-avatar item-left>
        <img [src]="item.person.picture">
      </ion-avatar>
      <h2>{{item.person.name}}</h2>
      <p>{{item.person.birth_year}} — {{item.person.death_year}}</p>
    </ion-item>
  </ion-card>
  <ion-fab right bottom>
    <button ion-fab mini (click)="openAddMemorialModal()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>