<ion-header>
  <ion-navbar>
    <ion-title>{{ 'CATALOG' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let catalogItem of catalogItems">
      <ion-thumbnail item-left>
        <img src={{catalogItem.image}}>
      </ion-thumbnail>

      <h2>{{catalogItem.name}}</h2>
      <p>{{catalogItem.price}}</p>
      <ion-row no-padding>
        <ion-col>
          <button ion-button clear small icon-left class="marginRight">
          <ion-icon name='md-cart'></ion-icon>
          {{ 'MAKEORDER' | translate }}
        </button>
        </ion-col>
        <ion-col>
          <button ion-button clear small icon-left class="marginRight">
          <ion-icon name='md-help-circle'></ion-icon>
        </button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

</ion-content>