// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.navigations {
  * {
    color: white !important;
  } // уродливый хак: иначе не отображается hamburger в навбаре
  .bar-buttons {
    display: flex !important;
  }
}

ion-navbar {
  @extend .navigations;
}

.toolbar {
  @extend .navigations;
}

.toolbar-background {
  background-color: #2f2f2f;
}

.scroll-content {
  overflow-y: auto !important;
  background-color: rgba(47, 47, 47, 0.2);
}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
  border-bottom-color: #ef7700;
  box-shadow: inset 0 -1px 0 0 #ef7700;
}

.item-wp.item-input.ng-valid.input-has-value:not(.input-has-focus) .text-input {
  border-color: #ef7700;
}

.smallfont {
  font-size: 12px;
}

.no-scroll .scroll-content {
  overflow: hidden;
}

.paragraph p {
  text-indent: 15px;
  text-align: justify;
  margin: 10px 30px 0px 30px;
}

ion-spinner {
  * {
    stroke: #ef7700 !important;
    fill: #ef7700 !important;
  }
  &.spinner-circles circle,
  &.spinner-bubbles circle,
  &.spinner-dots circle {
    fill: #ef7700 !important;
    fill: #ef7700 !important;
  }
}
