<ion-header>

  <ion-navbar>
    <ion-title>{{ 'MENUMEMORIALITEM' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-title>
      {{item.person.name}}
    </ion-card-title>
    <ion-slides *ngIf="ifSlider(item)" padding pager>
      <ion-slide>
        <img imageViewer class="bordered" [src]="item.person.picture" />
      </ion-slide>
      <ion-slide *ngFor="let pic of item.burial.pictures">
        <img imageViewer [src]="pic" />
      </ion-slide>
    </ion-slides>
    <img imageViewer *ngIf="!ifSlider(item)" class="bordered" [src]="item.person.picture" />
    <ion-card-content>
      <p class="datesText">{{ item.person.birth_date | date: 'dd.MM.yyyy' }} — {{item.person.death_date | date: 'dd.MM.yyyy' }}</p>
      <p class="cemeteryText">{{item.burial.cemetery}}</p>
      <p>
        <button ion-button block icon-left class="button" clear (click)="openMemorialItemMap(item.burial.coordinates)">
          <ion-icon name="pin"></ion-icon>{{ 'HOWTOFIND' | translate }}
        </button>
      </p>
    </ion-card-content>
  </ion-card>
  <button ion-button block class="button" color="light">{{ 'SERVICES_PHOTO' | translate }}</button>
  <button ion-button block class="button" color="light" (click)="openCatalogPage()">{{ 'SERVICES_FLOWERS' | translate }}</button>
  <button ion-button block class="button" color="light">{{ 'SERVICES_ACCOMPLISHMENT' | translate }}</button>

  <p></p>

  <button ion-button block class="button" color="light" stop-event>{{ 'INVITE' | translate }}</button>
</ion-content>