<ion-header>

  <ion-navbar>
    <ion-title>{{ 'ADD_BURIAL_TITLE' | translate }}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">{{ 'САNCEL' | translate }}</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>    
  </ion-navbar>

</ion-header>


<ion-content>
  <form (submit)="doSignup()">
    <ion-list>
      <ion-item>
        <ion-label fixed>{{ 'SURNAME' | translate }}</ion-label>
        <ion-input type="text" name="surname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>{{ 'NAME' | translate }}</ion-label>
        <ion-input type="text" name="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>{{ 'PATRONYMIC' | translate }}</ion-label>
        <ion-input type="text" name="patronymic"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>{{ 'BIRTHDATE' | translate }}</ion-label>
        <ion-input type="birthdate" name="birthdate"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{ 'DEATHDATE' | translate }}</ion-label>
        <ion-input type="deathdate" name="deathdate"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{ 'PLACE' | translate }}</ion-label>
        <ion-input type="text" name="place"></ion-input>
      </ion-item>

    <!--<input type="file" #fileInput style="visibility: hidden; height: 0px" />
    <div class="profile-image-wrapper">
      <div class="profile-image-placeholder">
        <ion-icon name="add"></ion-icon>
        <div>
          {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
        </div>
      </div>
      <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilePic.value"></div>
    </div>-->
      <ion-item>
        <ion-label fixed>{{ 'PHOTO' | translate }}</ion-label>
        <ion-input type="file" name="photo"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button color="dark" block>{{ 'ADD' | translate }}</button>
      </div>

    </ion-list>
  </form>
</ion-content>