page-memorialitem-detail {
  ion-card {
    text-align: center;
    border-top: 3px solid #2f2f2f;
    img {
      margin: auto;
      display: block;
      max-height: 200px !important;
      width: auto;
    }
    .bordered {
      border: 3px solid #2f2f2f;
    }
    .cemeteryText {
      font-size: 20px;
      font-weight: bold;
    }
    .datesText {
      font-size: 16px;
    }
  }
  .swiper-pagination-bullet {
    background: white;
    opacity: 0.5;
  }
  .swiper-pagination-bullet-active {
    background: black;
    opacity: 0.8;
  }
}