<ion-content class="splash-bg no-scroll" no-bounce>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      {{ 'WELCOME_INTRO' | translate }}
    </div>
  </div>
  <div padding class="login-form">
    <form (submit)="doLogin()">

      <ion-item>
        <ion-input type="tel" [textMask]="{mask: mask, showMask: true}" [(ngModel)]="account.phone" name="phone" placeholder="{{ 'PHONE' | translate }}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" [(ngModel)]="account.password" name="password" placeholder="{{ 'PASSWORD' | translate }}"></ion-input>
      </ion-item>

      <ion-item text-wrap>
        <ion-checkbox [(ngModel)]="account.agreement" name="agreement"></ion-checkbox>
        <ion-label class="smallfont" no-margin>
          {{ 'IAGREE' | translate }}
          <button class="button iagree" stop-event (click)="openAgreementModal()">{{ 'IAGREELICENCE' | translate }}</button>
        </ion-label>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block class="login">{{ 'LOGIN_BUTTON' | translate }}</button>
      </div>

    </form>

    <button ion-button block clear outline (click)="signup()" class="signup">{{ 'SIGNUP' | translate }}</button>
  </div>
</ion-content>