page-welcome {

  .splash-bg {
    background: url('../assets/img/background-gradient.jpg') no-repeat transparent;
    background-position: 0px 0px;
    animation: animatedBackground 60s linear alternate infinite;
    margin-top: 0px;
    overflow: hidden;
    position: absolute;
    // для больших экранов нужно устанавливать в cover
    // идеально -- fill, т.к. не скачет при появлении клавиатуры
    background-size: cover;
  }
  @keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: 100% 0; }
  }
  .login-form {
    position: relative;
    width: 80%;
    max-width: 500px;
    text-align: center;
    margin: auto;
  }
  .splash-info {
    position: relative;
    z-index: 2;
    margin-top: 15%;
    text-align: center;
  }
  .splash-logo {
    margin: auto;
    background: url('../assets/img/gravesearch-logo-big.png') repeat transparent;
    background-size: 100%;
    width: 128px;
    height: 128px;
  }
  .splash-intro {
    font-size: 28px;
    font-weight: bold;
    max-width: 80%;
    margin: auto;
    color: #F5F5DC;
  }
  .item {
    background-color: rgba(0, 0, 0, 0.4);
    color: #F5F5DC;
    padding: 5px;
  }
  .item-checkbox > .item-inner {
    border: none !important;
  }
  button.iagree{
    color: #ef7700;
    background-color: transparent !important;
    font-size: 1em;
    vertical-align: baseline;
    padding: 0px !important;
  }
  button.signup {
    font-size: 0.8em;
    margin-top: -20px;
  }
  button.login {
    margin-top: 20px;
  }
}
