<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form (submit)="doSignup()">
    <ion-list>

      <ion-item>
        <ion-label fixed>{{ 'PHONE' | translate }}</ion-label>
        <ion-input type="tel" [textMask]="{mask: mask, showMask: true}"  [(ngModel)]="account.phone" name="phone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{ 'SURNAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.surname" name="surname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>{{ 'NAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.name" name="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>{{ 'PATRONYMIC' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.patronymic" name="patronymic"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
      </ion-item>
 
      <ion-item text-wrap>
        <ion-checkbox [(ngModel)]="account.agreement" name="agreement"></ion-checkbox>
        <ion-label class="smallfont" no-margin>
          {{ 'IAGREE' | translate }}
          <a href="" stop-event ng-click="click()">{{ 'IAGREELICENCE' | translate }}</a>
        </ion-label>
      </ion-item>
 
      <div padding>
        <button ion-button color="primary" block>{{ 'SIGNUP_BUTTON' | translate }}</button>
      </div>

    </ion-list>
  </form>
</ion-content>