<ion-header>
  <ion-navbar>
    <ion-title>{{ 'MAINMENU' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="card-background-page no-scroll menuBckgrnd" no-bounce>
  <ion-card *ngFor="let item of cardItems" (click)="this[item.click]()">
    <img [src]="item.image"/>
    <div class="card-title">{{item.title}}</div>
  </ion-card>
</ion-content>