main-menu {
  .card-background-page {
    ion-card {
      position: relative;
      text-align: center;
      height: 27%;
      width: 90%;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      border-top: 5px solid #2f2f2f;
    }
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  }
}